<?xml version="1.0"?>
<!--
/**
 * Jpay Payments routes config
 *
 * @category    Jpay
 * @package     Jpay_Payments
 * @author      Jpay
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="jpay" frontName="jpay">
            <module name="Jpay_Payments" />
        </route>
    </router>
</config>
