.payment-method.jpay .brands {
  display: inline;
  margin-left: 20px;
}

.payment-method.jpay .brands.brandVisa {
  padding: 0px 25px;
  background: no-repeat url('../images/visa.png');
}

.payment-method.jpay .brands.brandMastercard {
  padding: 5px 20px;
  background: no-repeat url('../images/mastercard.png');
}

.payment-method.jpay .jpay-logo {
  float:right;
  height: 24px;
  max-height: none;
  vertical-align: middle;
  padding: 15px 0px;
}

.payment-method.jpay .secured-seal {
  background: no-repeat url('../images/lock.png');
  background-position-y: 2px;
  background-size: 22px 20px;
  border: 1px solid #DDD;
  padding: 3px 5px 3px 24px;
  border-radius: 3px;
  float: right;
  margin: 15px 30px;
}

.payment-method.jpay .jpay-logo-eg {
    height: 61px;
    width: 200px;
    background: no-repeat url('../images/secured_payfac_eg.png');
    background-position-y: 2px;
    background-size: 100% 100%;
    border: 1px solid #DDD;
    border-radius: 3px;
    border-color: transparent;
    float: right;
    margin-right: 5px;
}

.payment-method.jpay .jpay-logo-ke {
    height: 61px;
    width: 200px;
    background: no-repeat url('../images/secured_payfac_kenya.png');
    background-position-y: 2px;
    background-size: 100% 100%;
    border: 1px solid #DDD;
    border-radius: 3px;
    border-color: transparent;
    float: right;
    margin-right: 5px;
}

.payment-method.jpay .jpay-logo-ci {
    height: 61px;
    width: 200px;
    background: no-repeat url('../images/secured_payfac_ic.png');
    background-position-y: 2px;
    background-size: 100% 100%;
    border: 1px solid #DDD;
    border-radius: 3px;
    border-color: transparent;
    float: right;
    margin-right: 5px;
}

.payment-method.jpay .jpay-logo-ng {
    height: 61px;
    width: 200px;
    background: no-repeat url('../images/secured_payfac_ng.png');
    background-position-y: 2px;
    background-size: 100% 100%;
    border: 1px solid #DDD;
    border-radius: 3px;
    border-color: transparent;
    float: right;
    margin-right: 5px;
}

.payment-method.jpay .jpay-logo-no-country {
    height: 61px;
    width: 200px;
    background: no-repeat url('../images/secured_payfac_not country-specific.png');
    background-position-y: 2px;
    background-size: 100% 100%;
    border: 1px solid #DDD;
    border-radius: 3px;
    border-color: transparent;
    float: right;
    margin-right: 5px;
}
.payment-method.jpay .payment-method-title.field.choice .pay-securely-text{
    font-size: 12px;
    margin-left: 21px;
}

.payment-method .payment-method-content .actions-toolbar .image-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: -11px 0px 0px 0;
}
